<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styless/Formulario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
            <!-- <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Login
                </span>
            </button>
        </div>
    </nav> -->

    <div class="form">
        <form action="#" method="POST">
            <div class="form-header">
                <h1>Login</h1>
                <div class="input-group">
                    <div class="input-box">
                        <label for="title"> Email </label>
                        <input id="title" type="text" nome="text" placeholder="informe seu email" required>
                        <i class='bx bxs-user-circle'></i>
                    </div>

                    <div class="input-box">
                        <label for="city"> Senha</label>
                        <input id="city" type="text" nome="text" placeholder="informe sua senha" required>
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                    <button type="submit" class="btn">Entrar</button>
                </div>
            </div>


        </form>
    </div> 
</body>
</html>
